.product-modal-container {
  height: 100vh;
  width: 80vw;
  white-space: none;
  overflow-y: auto;
  box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.1);
}

.pm-heading-image {
  text-align: center;
}

.pm-heading-image-pizza {
  transform: translateY(-40%);
}

.pm-heading-image-other {
  transform: none;
}

.pm-heading-image-img-other {
  width: 30em;
  height: 20em;
}

.pm-info-container {
  width: 100%;
  position: relative;
}

.pm-info-container-pizza {
  margin-top: -20%;
}

.pm-info-container-other {
  margin-top: 0;
}

.pm-name-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 10px;
  margin-top: 1rem;
}

.pm-name-container p {
  font-size: 34px;
  text-transform: uppercase;
  color: #0073aa;
}

.pm-options-container {
  border-top: 2px dashed #5555555d;
  width: 90%;
  display: flex;
  padding: 10px 0;
  margin-bottom: 20px;
}

.pm-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 calc(100% / 3 / 2.5);
  cursor: pointer;
  transition: background-color 0.1s;
}

.pm-options:hover {
  background-color: #b4bbc148;
}

.pm-options p {
  color: #337ab7;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.pm-options.active-option {
  border-bottom: 4px solid #0073aa;
}

.pm-pizza-crust-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 33%);
  gap: 10px;
  padding: 0 10px;
}

.pm-pizza-crust-container div {
  display: flex;
  margin: 0;
  position: relative;
}

.pm-toppings-btn {
  display: flex;
}

.edit-toppings-text {
  flex: 1;
}

.edit-toppings-btn {
  flex: 1;
  width: fit-content;
  display: flex;
  gap: 5px;
}

.edit-toppings-btn img,
.edit-toppings-btn p {
  margin: 0;
}

.edit-toppings-container {
  display: flex;
  gap: 30px;
  width: fit-content;
  background-color: #0073aa;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.logged-topping-container {
  display: flex;
  gap: 10px;
}

.toppings-default {
  color: #fff;
  background-color: #555;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.edit-toppings-img {
  width: 16px;
}

.toppings-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  background-color: #555 !important;
  color: #fff;
}

.toppings-container input {
  width: 20px;
  height: 20px;
}

.all-toppings {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.topping-name {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
  padding-bottom: 20px;
}

.topping {
  margin: 0;
  padding-bottom: 5px;
  width: max-content;
}

.topping input {
  margin-right: 5px;
}

.additional-topping {
  margin-left: 10px;
}

.additional-topping input {
  background-color: red;
}

.hah-size-crust-container {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  gap: 10rem;
}

.hah-size,
.hah-crust {
  display: flex;
  gap: 1rem;
  color: #555;
  font-size: 1.2rem;
  margin: 0;
}

.hah-size p,
.hah-crust p {
  font-size: 1.2rem;
}

.hah-size select,
.hah-crust select,
.hah-first-product select,
.hah-second-product select {
  border: 1px solid #e3e4e5;
  background-color: #e3e4e581;
  padding: 10px;
  min-width: 18rem;
}

.hah-products-container {
  display: flex;
  gap: 2rem;
  width: 98%;
}

.hah-first-product,
.hah-second-product {
  border-top: 1px solid #555;
  flex: 1;
  position: relative;
  margin-top: 0;
}

.hah-product-heading {
  background-color: #fff;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateY(-50%);
  color: #e31837;
  border: 2px solid #e31837;
  border-radius: 50%;
  padding: 2px 10px;
  font-size: 1.2rem;
  cursor: default;
}
