.pm-pizza-crust {
  display: flex;
  list-style: none;
  padding: 0;
  cursor: pointer;
  justify-content: space-between;
  gap: 0.625rem;
  margin: 0;
  width: 100%;
  align-items: center;
}

.pm-pizza-crust-img {
  width: 3.75rem;
}

.pm-pizza-crust-select-container {
  margin: 0;
}

.pm-pizza-crust-select {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: #ddd;
  border-radius: 50%;
  position: absolute;
  right: 0.625rem;
}

.pm-pizza-crust-info {
  gap: 0.625rem;
}

.active-crust {
  background-color: #609e29;
}

.pm-pizza-crust-text {
  flex-direction: column;
}

.pm-pizza-crust-text li {
  text-align: start;
  margin: 0;
}

.pm-pizza-crust-title {
  color: #0073aa;
  font-weight: bold;
  font-size: 1.125rem;
}

.pm-pizza-crust-desc {
  color: #555;
  line-height: 1;
}

.pm-desc-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  align-items: start;
}

.pm-desc {
  flex: 2;
  margin: 0;
  height: 100%;
  font-weight: bold;
  color: #555;
  font-size: 1.125rem;
}

.pm-desc p:first-child {
  font-size: 1.25rem;
}

.pm-order-container {
  flex: 1;
}

.pm-quantity-control {
  display: flex;
  margin: 0;
}

.pm-qty-weigh-container {
  font-weight: bold;
  font-size: 1.25rem;
  color: #555;
  font-size: 1.25rem;
  border-left: 2px dashed #5555556d;
  padding-left: 0.625rem;
}

.pm-quantity-text {
  font-size: 2rem;
  margin: 0 1.25rem;
}

.pm-quantity-increase,
.pm-quantity-decrease {
  border: 2px solid #555;
  padding: 0px 0.625rem;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

/* MOBILE */

@media screen and (max-width: 480px) {
  .pm-desc-container {
    flex-direction: column;
    padding: 0;
    border-top: 2px dashed #5555555d;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .pm-desc {
    width: 90%;
  }

  .pm-order-container {
    width: 100%;
  }

  .pm-order-container > div {
    width: 100% !important;
  }

  .pm-qty-weigh-container {
    margin-top: 1rem;
  }

  .pm-qty-weigh-container {
    border: none;
    padding: 0 !important;
    padding-bottom: 2rem;
  }

  .pm-qty-weigh {
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
