.checkout-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), url("/images/background.webp");
  padding-top: 180px;
}

.checkout-page-content-container {
  width: 80%;
}

.checkout-page-carousel {
  width: fit-content;
}

.checkout-page-carousel-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: fit-content;
  gap: 20px;
}

.checkout-page-carousel-container {
  background-color: #fff;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.2);
}

.checkout-page-carousel-heading {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1rem;
}

.checkout-page-carousel-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0;
  border-right: 1px solid #55555588;
  padding-right: 1rem;
}

.checkout-page-carousel-item span {
  width: 120px;
  margin: 0;
}

.checkout-page-carousel-item span p {
  margin: 0;
}

.checkout-page-carousel-image {
  width: 64px;
  height: 64px;
  margin: 0;
}

.checkout-page-carousel-add-to-basket {
  cursor: pointer;
  margin: 0;
  width: fit-content !important;
}

.checkout-pizza-meter {
  display: flex;
  margin: 2rem 0;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.2);
  width: fit-content;
  align-items: center;
}

.checkout-dominos-more-container,
.checkout-pan-container {
  margin: 1rem;
  border-right: 1px solid #55555588;
  padding-right: 2rem;
}

.checkout-dominos-more {
  width: 10rem;
}

.checkout-pan {
  width: 8rem;
}

.checkout-dominos-more-points-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 1rem;
}

.checkout-pm-text {
  padding: 0.3125rem 1rem;
  background-color: #0278ae;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 2.2px 2px #e31873;
}

.checkout-pm-points-digits {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px #0278ae;
  -webkit-text-stroke-color: #0278ae;
  -webkit-text-stroke-width: 0.1px;
  text-align: center;
  line-height: 1;
}

.checkout-pm-points-text {
  font-weight: bold;
  color: #0278ae;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
}

.checkout-details-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  color: #555;
}

.checkout-details-delivery,
.checkout-details-payment,
.checkout-details-order {
  flex: 1;
  background-color: #fff;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  position: relative;
  margin-top: 0;
}

.checkout-details-step {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-50%);
  border: 1px solid #e2213d;
  border-radius: 50%;
  padding: 0 0.5rem;
  color: #e2213d;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 2px 2px 1px #e2213d;
}
.checkout-details-delivery-heading {
  text-align: center;
  margin-top: 0.2rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.checkout-dd-time,
.checkout-dd-address {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  max-width: 100%;
}

.checkout-dd-time img,
.checkout-dd-time p,
.checkout-dd-address img,
.checkout-dd-address p,
.checkout-dd-phone svg,
.checkout-dd-floor svg,
.checkout-dd-door svg {
  margin: 0;
}

.checkout-dd-time img,
.checkout-dd-address img {
  width: 1.5rem;
}

.checkout-dd-time p,
.checkout-dd-address p {
  font-size: 1.1rem;
}

.checkout-dd-text-time {
  color: #fff;
  background-color: #0d6490;
  padding: 0.4rem;
  border-radius: 0.3125rem;
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.checkout-dd-text-aps {
  margin-left: 0.2rem;
  font-size: inherit;
}

.checkout-dd-address-details {
  font-weight: bold;
  color: #0278ae;
}

.checkout-dd-phone-floor {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.checkout-dd-phone,
.checkout-dd-floor,
.checkout-dd-door {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.checkout-dd-phone {
  flex: 3;
}

.checkout-dd-floor input,
.checkout-dd-phone input,
.checkout-dd-door input,
.checkout-dd-comments textarea {
  width: 100% !important;
  padding: 0.2rem;
  background-color: #f2f4f5;
  border: 1px solid #e3e4e5;
}

.checkout-dd-floor input:focus,
.checkout-dd-phone input:focus,
.checkout-dd-door input:focus,
.checkout-dd-comments textarea:focus,
.checkout-new-invoice-field input:focus {
  outline: 1px solid #0d6490;
  border-radius: 0.2rem;
}

.checkout-dd-floor {
  flex: 1;
}

.checkout-dd-door {
  margin-bottom: 1.5rem;
}

.checkout-dd-comments {
  margin-bottom: 0.5rem;
}

.checkout-dd-invoice {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.checkout-dd-invoice input,
.checkout-dd-invoice label {
  margin: 0;
}

.checkout-dd-invoice input {
  background-color: #f2f4f5;
  transform: scale(1.5);
}

.checkout-dd-invoice label {
  font-size: 1.1rem;
}

.checkout-single-invoice-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-single-invoice-container div {
  margin: 0;
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.checkout-single-invoice-container div input {
  width: 1rem;
}

.checkout-single-invoice-operations-container {
  display: flex;
  gap: 1rem !important;
}

.checkout-single-invoice-edit,
.checkout-single-invoice-delete,
.checkout-single-card-delete {
  width: 2rem;
  cursor: pointer;
}

.checkout-all-new-invoice-container {
  display: flex;
  background-color: #0d6490;
  padding: 0.5rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.checkout-all-new-invoice-container p,
.checkout-all-new-invoice-container img {
  margin: 0;
}

.checkout-all-new-invoice-container p {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.checkout-all-invoice-btn-img {
  width: 2rem;
}

.checkout-new-edit-invoice {
  border: 1px solid #0d6490;
  border-radius: 0.3rem;
  padding: 2rem 0 1rem 0;
}

.checkout-new-invoice-fields-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  text-align: center;
}

.checkout-new-invoice-field label {
  width: 100%;
  text-align: center;
  margin-bottom: 0.2rem;
}

.checkout-new-invoice-field input {
  padding: 0.5rem;
  background-color: #f2f4f5;
  border: 1px solid #e3e4e5;
  max-width: 90%;
}

.checkout-new-invoice-btn-container {
  text-align: center;
}

.checkout-new-invoice-btn {
  width: fit-content;
  background: #0d6490;
  color: #fff;
  margin-top: 2rem;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  padding: 0.5rem 3rem;
  cursor: pointer;
  border: none;
}
.disabled {
  cursor: default;
  background-color: #555;
}

.checkout-error {
  margin: 0.5rem 0 0 0.5rem;
  color: #e2213d;
}

.checkout-delivery-method:first-of-type {
  margin-top: 2rem;
}

.checkout-delivery-method {
  display: flex;
  text-align: center;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
  cursor: pointer !important;
  color: #0d6490;
  font-weight: bold;
}

.checkout-delivery-method input {
  margin-right: 1rem;
  transform: scale(1.6);
  cursor: pointer;
}

.checkout-delivery-method img {
  width: 3rem;
  margin: 0;
}

.checkout-delivery-method-card,
.checkout-delivery-method-card-symbol-text {
  line-height: 1 !important;
}

.checkout-delivery-method-card-symbol-text {
  font-weight: normal !important;
  color: #555 !important;
}

.checkout-saved-cards-container {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.checkout-saved-cards-container li {
  padding: 1rem;
  margin: 0;
}

.checkout-saved-cards-container li label,
.checkout-saved-cards-container input {
  cursor: pointer;
}

.checkout-saved-cards-container input {
  margin-right: 0.5rem;
  transform: scale(1.6);
}

.checkout-single-card-delete {
  margin-left: 0.5rem;
}

.checkout-saved-card-brand,
.checkout-saved-card-last4 {
  font-weight: bold;
}

.checkout-saved-card-brand {
  color: #0d6490;
}

.checkout-final-order-btn {
  margin-top: 1rem;
  padding: 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #e2213d;
  border-radius: 0.4rem;
  cursor: pointer;
}
