.checkout-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), url("/images/background.webp");
  padding-top: 180px;
}

.checkout-page-content-container {
  width: 80%;
}

.checkout-pizza-meter {
  display: flex;
  margin: 2rem 0;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.2);
  width: fit-content;
  align-items: center;
}

.checkout-dominos-more-container,
.checkout-pan-container {
  margin: 1rem;
  border-right: 1px solid #55555588;
  padding-right: 2rem;
}

.checkout-dominos-more {
  width: 10rem;
}

.checkout-dominos-more-points-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 1rem;
}

.checkout-pm-text {
  padding: 0.3125rem 1rem;
  background-color: #0278ae;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 2.2px 2px #e31873;
}

.checkout-pm-points-digits {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px #0278ae;
  -webkit-text-stroke-color: #0278ae;
  -webkit-text-stroke-width: 0.1px;
  text-align: center;
  line-height: 1;
}

.checkout-pm-points-text {
  font-weight: bold;
  color: #0278ae;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
}
