.pas-addresses-add-new-container {
  text-decoration: none;
  text-align: center;
  display: block;
  width: fit-content;
}

.pas-addresses-add-new {
  margin: 0;
  background-color: #0d6490;
  color: #fff;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
  padding: 10px 20px;
}

.pas-addresses-add-new-text {
  font-size: 14px;
  flex: 3;
  font-weight: normal;
}
