.checkout-delivery-method:first-of-type {
  margin-top: 2rem;
}

.checkout-delivery-method {
  display: flex;
  text-align: center;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
  cursor: pointer !important;
  color: #0d6490;
  font-weight: bold;
}

.checkout-delivery-method input {
  margin-right: 1rem;
  transform: scale(1.6);
  cursor: pointer;
}

.checkout-delivery-method img {
  width: 3rem;
  margin: 0;
}

.checkout-delivery-method-card,
.checkout-delivery-method-card-symbol-text {
  line-height: 1 !important;
}

.checkout-delivery-method-card-symbol-text {
  font-weight: normal !important;
  color: #555 !important;
}

.checkout-saved-cards-container {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.checkout-saved-cards-container li {
  padding: 1rem;
  margin: 0;
}

.checkout-saved-cards-container li label,
.checkout-saved-cards-container input {
  cursor: pointer;
}

.checkout-saved-cards-container input {
  margin-right: 0.5rem;
  transform: scale(1.6);
}

.checkout-single-card-delete {
  margin-left: 0.5rem;
}

.checkout-saved-card-brand,
.checkout-saved-card-last4 {
  font-weight: bold;
}

.checkout-saved-card-brand {
  color: #0d6490;
}

.checkout-card-error {
  color: #e2213d;
}