.checkout-delivery-method:first-of-type {
  margin-top: 2rem;
}

.checkout-delivery-method {
  display: flex;
  text-align: center;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
  cursor: pointer !important;
  color: #0d6490;
  font-weight: bold;
}

.checkout-delivery-method input {
  margin-right: 1rem;
  transform: scale(1.6);
  cursor: pointer;
}

.checkout-delivery-method img {
  width: 3rem;
  margin: 0;
}

.checkout-delivery-method-card,
.checkout-delivery-method-card-symbol-text {
  line-height: 1 !important;
}

.checkout-delivery-method-card-symbol-text {
  font-weight: normal !important;
  color: #555 !important;
}

.checkout-saved-cards-container {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.checkout-saved-cards-container li {
  padding: 1rem;
  margin: 0;
}

.checkout-saved-cards-container li label,
.checkout-saved-cards-container input {
  cursor: pointer;
}

.checkout-saved-cards-container input {
  margin-right: 0.5rem;
  transform: scale(1.6);
}

.checkout-single-card-delete {
  margin-left: 0.5rem;
}

.checkout-saved-card-brand,
.checkout-saved-card-last4 {
  font-weight: bold;
}

.checkout-saved-card-brand {
  color: #0d6490;
}

.checkout-card-error {
  color: #e2213d;
}

.first-payment-step {
  margin-bottom: 1rem;
}

.checkout-details-payment-coupons-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  padding: 1rem;
}

.checkout-details-payment-coupons-heading img,
.checkout-details-payment-coupons-heading p {
  margin: 0;
}

.checkout-details-payment-coupons-heading p {
  font-size: 1.2rem;
}

.checkout-details-payment-coupon {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.checkout-details-payment-coupon label,
.checkout-details-payment-coupon input {
  margin: 0;
  cursor: pointer;
}

.checkout-details-payment-coupon label {
  width: 100%;
  font-size: 1.2rem;
}

.checkout-details-payment-coupon input {
  transform: scale(1.5);
}
