.pas-heading {
  padding: 50px 0 30px 0;
  display: flex;
  width: 80%;
  font-size: 26px;
  margin-top: 40px;
  justify-content: center;
  gap: 40px;
  color: #000;
}

.pas-body {
  display: flex;
}

.pas-addresses {
  flex: 2;
  margin: 0;
  margin-top: 50px;
  text-align: center;
  color: #0d6490;
  padding: 0 10px;
}

.pas-single-address {
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
}

.pas-addresses-add-new-container {
  text-decoration: none;
}

.pas-addresses-add-new {
  margin: 0;
  background-color: #0d6490;
  color: #fff;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.pas-addresses-add-new-text {
  font-size: 14px;
  flex: 3;
  font-weight: normal;
}

.pas-edit {
  flex: 1;
}

.pas-settings {
  border-left: 2px dashed #5555556b;
  border-right: 2px dashed #5555556b;
  padding: 0 30px;
  flex: 10;
}

.pas-settings-address-container input {
  padding: 5px;
  color: #555;
  font-size: 18px;
  background-color: #f2f4f5;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
}

.pas-body input:focus {
  outline: 1px solid #0278ae;
}

.pas-heading img,
.pas-heading p {
  align-self: center;
  margin: 0;
}

.leaflet-control-attribution {
  display: none !important;
}

.pas-body {
  font-weight: bold;
}

#address-name,
#address-streetName {
  width: 100%;
}

#address-streetName {
  margin-bottom: 20px;
}

.your-store-text {
  margin: 10px 0;
  padding: 10px 20px;
  color: #3c763d;
  background-color: #dff0d8;
  border-radius: 5px;
  font-weight: normal;
  font-size: 20px;
}

.your-store-text2 {
  font-weight: bold;
}

.address-settings-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address-settings-details-container div {
  display: flex;
  margin: 0;
  column-gap: 20px;
}

.address-info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.address-info-container input {
  padding: 5px;
  color: #555;
  font-size: 18px;
  background-color: #f2f4f5;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
}

.address-info-container label {
  margin: 0;
}

.pas-edit-save,
.pas-edit-delete {
  padding: 20px 10px;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

.pas-edit-save {
  background-color: #5cb85c;
  margin-bottom: 20px;
}

.pas-edit-delete {
  background-color: #df232d;
}
