.om-heading {
  display: flex;
  gap: 1.25rem;
  letter-spacing: 1.5px;
  justify-content: center;
  align-items: center;
}

.om-heading p,
.om-heading img {
  margin: 0;
}

.om-heading p {
  font-size: 1.5rem;
}

.om-heading img {
  margin: auto;
}

.om-methods-container {
  display: flex;
}

.om-method {
  color: #0d6490;
  cursor: pointer;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}

.om-method img {
  min-width: 6.25rem;
}

/* MOBILE */

@media screen and (max-width: 480px) {
  .om-heading p {
    font-size: 1.2rem;
    text-align: center;
  }

  .om-method {
    padding: 0;
    padding: 1rem 0;
  }

  .om-method img {
    max-width: 4rem;
    min-width: 4rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
