.tracker-body {
  width: 80%;
  background-color: #fff;
  margin-top: 6rem;
  margin-bottom: 3rem;
  box-shadow: 10px -5px 70px rgba(0, 0, 0, 0.25);
  padding-bottom: 2rem;
}

.tracker-svg-container {
  text-align: center;
}

.tracker-circle-container {
  position: relative;
}

.tracker-svg-text p {
  font-size: 1.2rem !important;
  color: #898989;
}

.tracker-circle {
  width: 31.25rem;
}

.tracker-path-animation {
  animation: trackerPath 2s ease-in-out infinite;
}

@keyframes trackerPath {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.tracker-new-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.tracker-new-order-text {
  font-size: 1.2rem;
}

.tracker-new-order-btn {
  font-weight: bold;
  color: #fff;
  background-color: #df232d;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
