.dominos-more {
  background-image: url("/images/more/background.png");
  background-color: #0278ae !important;
  background-size: auto;
  background-position: top;
}

.dm-bg-container {
  padding-top: 170px;
}

.dm-content-container {
  padding: 40px;
  width: 75%;
  background-color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.dm-content {
  background-color: #fff;
  padding: 40px;
  border: #0278ae 5px dashed;
}

.dm-logo {
  width: 260px;
  display: block;
  margin-bottom: 40px;
  cursor: pointer;
}

.dm-header-text {
  display: inline-block;
  padding: 15px 40px;
  background-color: #e11d38;
  color: white;
  font-size: 36px;
  letter-spacing: 1.1px;
  text-shadow: 2.2px 2px #0278ae;
  font-weight: bolder;
  margin-bottom: 40px;
}

.dm-main-text,
.dm-deal-disclaimer {
  color: #0278ae;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.dm-main-text span,
.dm-deal-disclaimer span {
  color: #e11d38;
  font-weight: bolder;
}

.dm-deal-text {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #0278ae;
  align-items: center;
  margin-bottom: 30px;
}

.dm-deal-text span {
  line-height: 1.5;
  align-self: center;
}

.dm-deal-text span,
.dm-deal-text div {
  margin: 0px;
}

.dm-deal-container {
  line-height: 1;
}

.dm-deal-text-number {
  font-size: 124px;
  text-shadow: 6px 4px 7px #0278ae;
}

.dm-btn {
  background-color: red;
  margin-bottom: 30px;
  width: fit-content;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 60px;
}

.dm-login {
  background-color: #0278ae;
}

.dm-login:hover {
  background-color: #e11d38;
}

.dm-register {
  background-color: #e11d38;
}

.dm-register:hover {
  background-color: #0278ae;
}

.dm-terms {
  font-size: 20px;
  color: #0278ae;
  font-weight: bold;
}
