.navigation-container {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  z-index: 9999;
}

.navigation-list-container-links > li > a,
.navigation-list-container-links > li > span {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}

.navigation-list-container-logo {
  list-style: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 250px;
  display: inline-block;
}

.logo-letter {
  fill: white;
}

.logo-cube-outer {
  fill: #ffffff;
}

.logo-blue-part {
  fill: #0078ae;
}

.logo-red-part {
  fill: #e31837;
}

.navigation-hiring {
  text-decoration: none;
  color: #207432;
  background: #bef5ca;
  padding: 2px 11px;
  border-radius: 50px;
  margin: 20px 25px 0 25px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: dominos-font-regular;
  letter-spacing: 1px;
  font-size: 17px;
}

.hiring-dot {
  font-size: 150px;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 6px;
  background: #207432;
  animation: hiringDotAnimation 0.8s infinite alternate;
}

@keyframes hiringDotAnimation {
  from {
    background: #207432;
  }

  to {
    background: transparent;
  }
}

.navigation-list-container-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  position: relative;
}

.navigation-list-container-links > li {
  font-weight: bold;
  font-size: 18px;
  overflow-x: clip;
}

.navigation-more,
.navigation-order {
  padding: 8px;
  border-radius: 5px;
}

.navigation-more {
  position: relative;
  background-color: #0278ae;
  box-shadow: inset 0 64px 40px -40px rgb(255 255 255 / 10%), inset 0 -3px 0 #0f567e, 0 1px 2px rgb(0 0 0 / 15%);
}

.navigation-more::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  background: rgba(255, 255, 255, 0.6);
  transform: skew(50deg);
  animation: more-shine 3s infinite;
}

@keyframes more-shine {
  0% {
    left: -200px;
  }
  100% {
    left: 300px;
  }
}

.navigation-order {
  background-color: #df232d;
  box-shadow: inset 0 64px 40px -40px rgba(255, 255, 255, 10%), inset 0 -2px 0 rgba(0, 0, 0, 20%),
    0 1px 2px rgba(0, 0, 0, 15%);
}

.navigation-profile-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
}

.navigation-profile-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #555555b0;
  font-weight: bold;
  font-size: 18px;
  background-color: #fff;
  text-align: left;
  position: absolute;
  right: 0;
  top: 100%;
  border-radius: 10px;
  padding: 5px;
}

.navigation-profile-menu li {
  padding-right: 15px;
  text-align: right;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  border-bottom: #55555520 solid 2px;
  margin: 0;
  width: 100%;
}

.navigation-profile-menu li a {
  text-decoration: none;
  color: inherit;
}

.navigation-profile-menu li:hover {
  background-color: #5555551c;
}

.loggedin-navigation {
  display: flex;
  color: #fff;
  background-color: #000000cf;
  width: 100%;
  position: fixed;
  top: 99px;
  z-index: 40;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.loggedin-navigation div {
  display: flex;
  margin: 0;
  background-color: #e31837;
  padding: 0 10px;
  gap: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.loggedin-navigation div:last-child {
  background-color: #0078ae;
}

.loggedin-navigation-img {
  width: 50px;
  margin: 0;
}

.profile-nav {
  display: flex;
  justify-content: center;
  padding: 120px 0 20px 0;
  gap: 50px;
  list-style: none;
  font-weight: bold;
  background-color: #555555b0;
}

.profile-nav li {
  margin: 0;
}

.profile-nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
