.heading {
  padding: 3.125rem 0 1.875rem 0;
  display: flex;
  width: 80%;
  margin-top: 2.5rem;
  justify-content: center;
  gap: 2.5rem;
  color: #000;
}

.heading img,
.heading p {
  margin: 0;
  align-self: center;
}

.heading p {
  font-size: 1.5rem;
}
