.heading {
  display: flex;
  /* width: 80%; */
  justify-content: center;
  gap: 2.5rem;
  color: #000;
}

.heading img,
.heading p {
  margin: 0;
  align-self: center;
}

.heading p {
  font-size: 1.5rem;
}
