.carryout-modal {
  max-height: 70vh;
  overflow: auto;
}

.carryout-modal-heading {
  display: flex;
  gap: 20px;
  letter-spacing: 1.5px;
  justify-content: center;
  align-items: center;
}

.carryout-modal-heading p,
.carryout-modal-heading img {
  margin: 0;
}

.carryout-modal-heading p {
  font-size: 1.5rem;
}

.com-map {
  margin-top: 1rem;
}
