.footer-container {
  width: 100%;
  text-align: center;
  color: #898989;
  background-color: #fff;
  padding-top: 3.125rem;
}

.footer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  width: 100%;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 0px;
}

.footer-links-container > h2 {
  font-size: 1rem;
  font-weight: bold;
}

.footer-links-container-text a {
  display: block;
  text-decoration: none;
  color: #898989;
  font-size: 0.875rem;
}

.contacts {
  margin-top: 3.125rem;
  display: flex;
  gap: 2.5rem;
}
.contacts-phone-number {
  display: block;
}

.contacts-phone-mobile {
  display: none;
}

.footer-svg {
  width: 2.8125rem;
  height: 2.8125rem;
}

.footer-svg.number {
  width: 7.5rem;
}

.footer-dominos-link {
  text-decoration: none;
  color: #006491;
}

@media screen and (max-width: 480px) {
  .footer-container {
    max-width: 100vw;
  }

  .footer-links {
    display: none;
  }

  .contacts {
    gap: 1rem;
  }

  .contacts-phone-number {
    display: none;
  }

  .contacts-phone-mobile {
    display: block;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
