.deal-modal-container {
  height: 100vh;
  width: 80vw;
  overflow-y: auto;
  box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.1);
}

.dm-steps-container {
  display: flex;
  border-bottom: dashed 2px #55555588;
  border-top: dashed 2px #55555588;
  margin-top: 3.125rem;
}

.dm-step {
  flex: 1;
  height: 30vh;
  position: relative;
}

.dm-step-num {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateY(-50%);
  color: #fff;
  background-color: #e31837;
  border-radius: 50%;
  padding: 2px 10px;
  font-size: 1.2rem;
}

.dm-step-side-border {
  border-left: 2px dashed #55555588;
}

.deal-add-btn {
  background-color: #609e29;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 25%;
  margin-right: 0;
  margin-top: 50px;
  font-size: 22px;
  letter-spacing: 1px;
}

.deal-add-btn:hover {
  background-color: #78ac36;
}
