.gadgets-average-time {
  grid-column: 1/3;
  grid-row: 1/1;
  padding: 2rem 3rem;
  display: flex;
  position: relative;
  box-shadow: 0 0px 2rem rgb(0 0 0 / 15%);
  background-color: white;
  width: 100%;
  border-radius: 5px;
}

.gadgets-live-svg {
  width: 3rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
  animation: liveSvg 2s infinite;
}

@keyframes liveSvg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gadgets-delivery-minutes-container {
  display: flex;
  align-items: center;
}

.gadgets-delivery-text {
  margin-top: 3rem;
  font-size: 1.75rem;
  display: inline-block;
  width: 55%;
}

.gadgets-delivery-number {
  font-size: 7rem;
  color: white;
  padding: 0.625rem 1rem;
  border-radius: 0.625rem;
}

.blue {
  background-color: #006491;
  margin-right: 0.625rem;
}

.red {
  background-color: #e31837;
}

.gadgets-apostrophy {
  font-size: 7rem;
  color: #e31837;
  vertical-align: middle;
  margin-top: -7.5rem;
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .gadgets-delivery-text {
    font-size: 1.2rem;
  }

  .gadgets-delivery-minutes-container {
    align-items: center;
    padding: 0 1rem;
  }

  .gadgets-delivery-number {
    font-size: 3rem;
  }

  .blue {
    margin: 0.25rem;
  }

  .gadgets-apostrophy {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
