.gadgets-average-time {
  grid-column: 1/3;
  grid-row: 1/1;
  padding: 30px 50px;
  display: flex;
  position: relative;
  box-shadow: 0 0px 30px rgb(0 0 0 / 15%);
  background-color: white;
}

.gadgets-delivery-minutes-container {
  display: flex;
  align-items: center;
}

.gadgets-delivery-text {
  margin-top: 48px;
  font-size: 28px;
  display: inline-block;
  width: 55%;
}

.gadgets-now-text {
  color: #006491;
}

.gadgets-delivery-number {
  font-size: 112px;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.blue {
  background-color: #006491;
  margin-right: 10px;
}

.red {
  background-color: #e31837;
}

.gadgets-apostrophy {
  font-size: 112px;
  color: #e31837;
  vertical-align: middle;
}
