.login-modal-container {
  padding: 0.625rem 1.25rem;
  max-height: 80vh;
  overflow: auto;
}

.login-modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin: 0px;
  margin-bottom: 1.25rem;
}

.login-modal-title img,
.login-modal-title span {
  margin: 0 !important;
}

.login-modal-title span,
.deal-decor {
  font-size: 1.5rem;
  margin: inherit;
}

.login-modal-df {
  width: 50%;
}

.login-modal-oAuthLinks-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 100% !important;
}

.login-modal-oAuthLink-single-container {
  border: none !important;
  width: 100%;
  background-color: #000;
  border-radius: 5px;
}

.login-modal-oAuthLink-single-container:nth-child(1) {
  background-color: #0d6490 !important;
}

.login-modal-oAuthLink {
  color: white;
  text-decoration: none;
  padding: 0.3125rem 0.625rem;
  display: flex;
  justify-content: center;
}

.login-modal-oAuthLink span {
  padding-left: 0.625rem;
  margin-right: auto;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.login-modal-svg {
  margin: 0px;
  height: 1.25rem;
  padding-right: 0.3125rem;
  border-right: 1px solid white;
  align-self: center;
}

.login-modal-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
}

.login-modal-input-container input {
  padding: 0.3125rem 0.625rem;
  border: 1px solid #e3e4e5;
  border-radius: 5px;
  color: #555;
  font-size: 1.25rem;
  background-color: #f2f4f5;
}

.login-modal-input-container input:focus {
  outline: 1px solid #0073aa;
}

.login-modal-fp-ks {
  display: flex;
  margin-bottom: 2rem;
}

.login-modal-forgot-password {
  color: black;
  font-style: italic;
  font-size: 1.125rem;
  margin: 0;
}

.login-modal-ks {
  display: flex;
  gap: 0.625rem;
  margin: 0;
  margin-left: auto;
  font-size: 1.125rem;
}

.login-modal-ks input {
  transform: scale(1.3);
}

.login-modal-login-container {
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: dashed 2px lightgray;
}

.login-modal-login-loading {
  opacity: 0.5;
  cursor: default !important;
  pointer-events: none;
}

.login-modal-login {
  width: 50%;
  background-color: #e2213d;
  color: white;
  padding: 0.3125rem 0.625rem;
  border-radius: 5px;
  font-size: 1.375rem;
  cursor: pointer;
  border: none;
}

.login-modal-signup-text {
  text-align: center;
  margin-top: 1.25rem;
  color: #555;
  font-size: 1.375rem;
}

.login-modal-register-container {
  margin-top: 1.25rem;
  text-align: center;
}

.login-modal-register {
  padding: 0.3125rem 0.625rem;
  font-size: 1.375rem;
  width: 50%;
  background-color: #0d6490;
  border-radius: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.login-modal-register-link {
  text-decoration: none;
  color: #fff;
}

/* MOBILE */

@media screen and (max-width: 480px) {
  .login-modal-title span,
  .deal-decor {
    font-size: 1.2rem;
  }

  .login-modal-oAuthLinks-container {
    gap: 1rem;
    margin-bottom: 1rem;
    flex: 1;
  }

  .login-modal-oAuthLink {
    gap: 0;
  }

  .login-modal-oAuthLink span {
    font-size: 1rem;
  }

  .login-modal-svg {
    border-right: none !important;
  }

  .login-modal-input-container input {
    font-size: 1rem;
  }

  .login-modal-fp-ks {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  .login-modal-ks {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .login-modal-ks label {
    margin: 0;
  }

  .login-modal-forgot-password {
    font-size: 0.9rem;
  }

  .login-modal-login-container {
    padding-bottom: 1rem;
  }

  .login-modal-login,
  .login-modal-register {
    font-size: 1.2rem;
  }

  .login-modal-register-link {
    width: -webkit-fill-available !important;
    width: 50%;
    display: block;
  }

  .login-modal-signup-text {
    font-size: 1rem;
  }

  .login-modal-register {
    margin-bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
