*,
html,
body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: dominos-font-regular;
}

@font-face {
  font-family: dominos-font-light;
  src: url("./font/FUTURA45LIGHT.TTF");
}

@font-face {
  font-family: dominos-font-regular;
  src: url("./font/FUTURA55REGULAR.TTF");
}
