.deal-container {
  position: absolute;
  z-index: 2;
  top: 130px;
  left: 230px;
  width: 550px;
  background: white;
  padding: 5px;
  border: 2px solid #888;
  mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 10px, black 11px),
    radial-gradient(circle 10px at 100% 0, transparent 0, transparent 10px, black 11px),
    radial-gradient(circle 10px at 0 100%, transparent 0, transparent 10px, black 11px),
    radial-gradient(circle 10px at 100% 100%, transparent 0, transparent 10px, black 11px);
  mask-position: top left, top right, bottom left, bottom right;
  mask-repeat: no-repeat;
  mask-size: 60% 60%;
}

.second-layer {
  background: white;
  padding: 30px;
  border: 2px solid #888;
  mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 10px, black 11px),
    radial-gradient(circle 10px at 100% 0, transparent 0, transparent 10px, black 11px),
    radial-gradient(circle 10px at 0 100%, transparent 0, transparent 10px, black 11px),
    radial-gradient(circle 10px at 100% 100%, transparent 0, transparent 10px, black 11px);
  mask-position: top left, top right, bottom left, bottom right;
  mask-repeat: no-repeat;
  mask-size: 50% 50%;
}

.deal-caption {
  text-align: center;
  font-weight: 800;
  font-size: 46px;
  line-height: 49px;
  margin-bottom: 15px;
  color: #f30530;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 rgba(50, 50, 50, 0.985);
  padding: 0 40px;
}

.deal-valid {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  padding: 10px 0;
  text-align: center;
  border-top: dotted lightgray 2px;
  border-bottom: dotted lightgray 2px;
}

.deal-desc {
  margin-top: 30px;
  font-size: 18px;
  line-height: 22px;
}
