.menu-products-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin-top: 1.25rem;
  gap: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .menu-products-container {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 768px) {
  .menu-products-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
