.menu-products-container {
  display: flex;
  margin-top: 1.25rem;
  width: 80%;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  align-items: start;
  justify-content: start;
  border-radius: 5px;
}
