.select-store-modal {
  max-height: 30vh;
  overflow: auto;
}

.modal-title {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: 24px;
  letter-spacing: 1.5px;
  justify-content: center;
  align-items: center;
}

.modal-title p {
  font-size: 1.5rem;
}

.modal-title p,
.modal-title img {
  margin: 0;
}

.modal-desc {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.modal-store-select {
  width: 500px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  outline: none;
}
