.select-store-modal {
  max-height: 30vh;
  overflow: auto;
}

.modal-title {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  justify-content: center;
  align-items: center;
}

.modal-title p {
  font-size: 1.5rem;
}

.modal-title p,
.modal-title img {
  margin: 0;
}

.modal-desc {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 0.625rem;
}

.modal-store-select {
  min-width: 31rem;
  font-size: 1.125rem;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid lightgray;
  outline: none;
}

@media screen and (max-width: 480px) {
  .modal-store-select {
    min-width: 2rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
