.modal-title {
  display: flex;
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.modal-desc {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.modal-decor-left {
  left: 30px;
}

.modal-decor-right {
  right: 30px;
}

.modal-store-select {
  width: 500px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  outline: none;
}

