.dominos-more-in {
  background-image: url("/images/more/background-blue.png");
  background-color: #e11d38 !important;
  background-size: auto;
  background-position: top;
}

.dm-bg-container-in {
  padding-top: 10.625rem;
}

.dm-content-container-in {
  padding: 2.5rem;
  width: 75%;
  background-color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}

.dm-content-in {
  background-color: #fff;
  padding: 2.5rem;
  border: #0278ae 5px dashed;
}

.dm-logo-in {
  width: 16.25rem;
  display: block;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.dm-main-text-in,
.dm-deal-disclaimer-in {
  color: #0278ae;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  font-weight: bold !important;
}

.dm-main-text-in span,
.dm-deal-disclaimer-in span {
  color: #e11d38;
  font-size: inherit;
}

.dm-deal-text-in {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  font-size: 1.75rem;
  font-weight: bold;
  color: #0278ae;
  align-items: center;
  margin-bottom: 2rem;
}

.dm-deal-text-in span {
  line-height: 1.5;
  align-self: center;
}

.dm-deal-text-in span,
.dm-deal-text-in div {
  margin: 0px;
}

.dm-header-text-in {
  display: inline-block;
  padding: 1rem 2.5rem;
  background-color: #0278ae;
  color: white;
  font-size: 2rem;
  letter-spacing: 1.1px;
  text-shadow: 2.2px 2px #e11d38;
  font-family: dominos-font-bold;
  margin: 3rem 0;
}

.dm-points-container {
  margin-left: 0;
}

.dm-points-digits {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px #0278ae;
  -webkit-text-stroke-color: #0278ae;
  -webkit-text-stroke-width: 0.1px;
  line-height: 1;
}

.dm-points-text {
  font-family: dominos-font-bold;
  color: #0278ae;
  font-size: 2rem;
  letter-spacing: 2px;
}

.dm-how-to-redeem {
  background-color: #0278ae;
  display: flex;
  padding: 4rem 0;
  color: #fff;
  margin-top: 5rem;
  gap: 3rem;
  justify-content: center;
  align-items: start;
  position: relative;
  width: calc(100% + 2 * 2.8125rem);
  margin-left: -2.8125rem;
}

.dm-redeem-heading {
  position: absolute;
  top: 0;
  font-size: 1.5rem;
  background-color: #e11d38;
  color: white;
  letter-spacing: 1.1px;
  text-shadow: 2.2px 2px #0278ae;
  transform: translateY(-50%);
  padding: 1rem 2rem;
  font-family: dominos-font-bold;
  letter-spacing: 3px;
}

.dm-redeem-step {
  flex: 1;
  margin: 0;
}

.dm-redeem-step p,
.dm-redeem-step span {
  font-size: 1.2rem;
  font-weight: normal;
  width: 90% !important;
}

.dm-redeem-step span {
  color: #fff;
  font-family: dominos-font-bold;
}

.dm-refer {
  width: calc(100% + 2 * 2.8125rem);
  margin-left: -2.8125rem;
  background-color: #e11d38;
  margin-top: 4rem;
  padding: 1rem 0;
}

.dm-refer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dm-refer-content img,
.dm-refer-content div {
  margin: 0;
}

.dm-refer-content div {
  background-color: #0278ae;
  padding: 0.8rem 1em;
  color: #fff;
  font-size: 1.5rem;
  font-family: dominos-font-bold;
  border-radius: 10px;
  cursor: pointer;
}

.dm-refer-content div:hover {
  color: #0278ae;
  background-color: #fff;
}

.dm-refer p {
  font-family: dominos-font-bold;
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.8rem;
}

.dm-points-history {
  width: calc(100% + 2 * 2.8125rem);
  margin-left: -2.8125rem;
  margin-top: 4rem;
}

.dm-points-history-text {
  font-size: 1.5rem;
  background-color: #0278ae;
  width: fit-content;
  color: white;
  letter-spacing: 1.1px;
  text-shadow: 2.2px 2px #e11d38;
  padding: 1rem 2rem;
  font-family: dominos-font-bold;
  letter-spacing: 3px;
}

.dm-points-history-desc {
  margin-top: 3rem;
  color: #0278ae;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.dm-swiper {
  margin-top: 3rem;
}

.swiper-slide {
  box-shadow: 2px 1px 10px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
  display: flex !important;
  padding: 2rem;
}

.swiper-pagination {
  position: relative;
  margin-top: 2rem;
}

.dm-history-date {
  color: #e11d38;
  font-family: dominos-font-bold;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.dm-history-text {
  line-height: 1;
  color: #0278ae;
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (max-width: 480px) {
  .dm-content-container-in {
    width: 90%;
    padding: 1rem;
  }

  .dm-content-in {
    padding: 1rem;
  }

  .dm-logo-in {
    width: 10rem;
  }

  .dm-header-text-in {
    font-size: 1.2rem;
  }

  .dm-main-text-in,
  .dm-deal-disclaimer-in {
    font-size: 1rem;
  }

  .pizza-meter-container {
    width: fit-content;
  }

  .dm-points-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .dm-points-container p {
    margin: 0;
    align-self: center;
  }

  .dm-points-digits {
    font-size: 4rem;
  }

  .dm-points-text {
    font-size: 1.2rem;
  }

  .dm-redeem-heading {
    font-size: 1.2rem !important;
    padding: 1rem 0;
    width: 80%;
  }

  .dm-how-to-redeem {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center !important;
    margin-left: 0;
  }

  .dm-redeem-step p,
  .dm-redeem-step span {
    font-size: 1rem;
  }

  .dm-refer {
    width: calc(100% + 2 * 1rem);
    margin-left: -1rem;
    margin-top: 2rem;
  }

  .dm-refer-content img {
    width: 5rem;
  }

  .dm-refer-content div {
    font-size: 1.2rem;
  }

  .dm-refer p {
    font-size: 1.2rem;
  }

  .dm-points-history {
    margin-top: 2rem;
  }

  .dm-points-history-text {
    font-size: 1rem;
  }

  .dm-points-history-desc {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .dm-points-digits {
    font-size: 2.5rem;
  }

  .dm-points-text {
    font-size: 0.8rem;
  }

  .dm-history-date {
    font-size: 0.8rem;
  }

  .dm-history-text {
    font-size: 0.7rem;
  }

  .dm-swiper {
    max-width: 90%;
    margin-left: 3rem !important;
  }

  .swiper-slide {
    margin-right: 1rem !important;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
