.dm-heading {
  display: flex;
  gap: 20px;
  letter-spacing: 1.5px;
}

.dm-heading p {
  font-size: 1.5rem;
}

.dm-no-addresses {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  margin: 5px 0;
  border-radius: 5px;
}

.dm-adresses-container {
  height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.4);
}

.dm-addresses-heading {
  text-align: center;
  padding: 10px 0;
  color: #555;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.address-container {
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 93%;
}

.selected-address {
  color: #fff;
  background-color: #0d6490;
}

.dm-address-edit-img,
.dm-address-check-img {
  width: 32px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  border-radius: 50%;
}

.dm-address-edit-img {
  left: 0;
  transform: translate(-50%, -50%);
  background-color: #0d6490;
  padding: 5px;
  border: 2px solid #fff;
}

.dm-address-check-img {
  right: 0;
  transform: translate(50%, -50%);
}

.dm-address-location-container,
.dm-address-store-container {
  display: flex;
  justify-content: start;
  font-size: 18px;
}

.dm-address-location-container {
  margin-bottom: 5px;
}

.dm-address-location-container p,
.dm-address-location-container img,
.dm-address-store-container p,
.dm-address-store-container img {
  margin: 0;
}

.dm-address-name {
  font-size: 24px;
}

.dm-address-location-store {
  width: 24px;
}

.dm-address-store-name {
  font-weight: bold;
}

.dm-address-new-address-btn {
  margin-top: 20px;
  width: fit-content;
}

.dm-address-store-closed {
  background-color: #f88a00;
  display: flex;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.dm-address-store-closed-img {
  width: 32px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 4px;
}

.dm-address-delivery-time,
.com-store-order-time,
.com-address {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-top: 20px;
}

.dm-address-delivery-time p,
.dm-address-delivery-time select,
.com-store-order-time p,
.com-store-order-time select,
.com-address p,
.com-address select {
  margin: 0;
  color: #555;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.dm-address-delivery-time select {
  cursor: pointer;
  padding: 0px 100px 0 0;
}

.dm-address-order-btn,
.com-order-btn {
  background-color: #e2213d;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 0;
  text-align: center;
  margin-top: 10px;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
}

.dm-address-order-btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
