.menu-header-container {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}

.menu-header {
  padding-top: 110px;
  width: 80%;
}

.menu-header-item {
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: bold;
  width: fit-content;
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding-bottom: 20px;
}

.single-menu-header-item {
  padding: 5px 10px 0 10px;
  position: relative;
  text-decoration: none;
  color: white;
}

.menu-active::after,
.menu-deals-active::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  border-top-color: #0073aa;
  border-width: 8px;
  transform: translateX(-33%);
}

.menu-active::before,
.menu-deals-active::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  border-top-color: white;
  border-width: 11px;
  transform: translateX(-36.5%);
}

.menu-deals-active::after {
  border-top: 9px solid #be1e2d;
}

.single-menu-header-item > p {
  font-family: dominos-font-light;
}

.single-menu-header-item-icon {
  width: 45px;
}

.menu-deals {
  background-color: #be1e2d;
}

.menu-header-options {
  color: white;
  padding-bottom: 20px;
  text-align: left;
}
