.menu-header-container {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}

.menu-header {
  padding-top: 6.875rem;
  width: 80%;
}

.menu-header-item {
  text-align: center;
  font-size: 0.875rem;
  color: white;
  font-weight: bold;
  width: fit-content;
  display: flex;
  gap: 0.675rem;
  cursor: pointer;
  padding-bottom: 1.25rem;
}

.single-menu-header-item {
  padding: 0.3125rem 0.675rem 0 0.675rem;
  position: relative;
  text-decoration: none;
  color: white;
}

.menu-active::after,
.menu-deals-active::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  border-top-color: #0073aa;
  border-width: 8px;
  transform: translateX(-33%);
}

.menu-active::before,
.menu-deals-active::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  border-top-color: white;
  border-width: 11px;
  transform: translateX(-36.5%);
}

.menu-deals-active::after {
  border-top: 9px solid #be1e2d;
}

.single-menu-header-item > p {
  font-family: dominos-font-light;
}

.single-menu-header-item-icon {
  width: 2.8rem;
}

.menu-deals {
  background-color: #be1e2d;
}

.menu-header-options {
  color: white;
  padding: 1.25rem 0;
  display: flex;
  gap: 6.25rem;
  font-size: 1rem;
  justify-content: start;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.menu-header-single-option {
  margin: 0px !important;
  display: flex;
  gap: 0.3125rem;
}

.menu-header-single-option label {
  position: relative;
  display: inline-block;
  padding-left: 1.5625rem;
  cursor: pointer;
}

.menu-header-single-option label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.125rem;
  height: 1.125rem;
  border: 3.5px solid white;
  background-color: transparent;
}

.menu-header-single-option input {
  display: none;
}

.menu-header-single-option input:checked + label:before {
  content: "\2716";
  font-size: 0.875rem;
  line-height: 0.85;
}

/* MOBILE */

@media screen and (max-width: 480px) {
  .menu-header {
    width: 95%;
  }
  .menu-header-item {
    padding-top: 2rem;
  }

  .menu-header-item,
  .menu-header-options {
    max-width: 100%;
    overflow: auto;
  }

  .single-menu-header-item p {
    font-size: 0.875rem !important;
  }

  .menu-header-options {
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
