.deals-container {
  position: relative !important;
  display: flex !important;
  margin-top: 4.5rem;
  width: 80%;
  padding: 3rem 0 !important;
}

.deal-item {
  transition: all 0.2s ease-in-out;
  margin: 0 !important;
  cursor: pointer !important;
}

.swiper-slide {
  box-shadow: none !important;
}

.single-deal-container {
  position: relative;
  background: #fff;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  padding: 0 !important;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2) !important;
}

.deal-header-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  width: 18rem;
  height: 11.5rem;
}

.deal-svg {
  height: 2.25rem;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(10rem);
}

.deal-heading {
  font-size: 1.125rem;
  height: 4rem;
  overflow-y: auto;
  font-weight: bold;
  text-align: center;
  color: #0073aa;
  margin-top: 1rem;
}

.single-deal-breakline {
  background-color: #d7d7d7;
  height: 2px;
  width: 65%;
}

.deal-desc {
  margin-bottom: 3.45rem;
  height: 5.625rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  overflow: auto;
  padding: 0 1rem;
}

.deal-btn-container {
  width: 92%;
  text-align: center;
  background-color: #df223d;
  border-radius: 4px;
  cursor: pointer;
}

.deal-btn {
  background-color: #df223d;
  letter-spacing: 1.4px;
  font-weight: 600;
  color: white;
  border: none;
  padding: 0.625rem;
}

.deal-method-container,
.deal-method-container-space-around {
  margin: 0.6225rem 0;
  border-top: 2px solid #d7d7d7;
  color: #0073aa;
}

.deal-method-container {
  display: flex;
  justify-content: center;
}

.deal-method-container-space-around {
  display: flex;
  justify-content: space-around !important;
}

.deal-method {
  display: flex;
  gap: 0.3125rem;
  margin: 0 !important;
}

.deal-method-type {
  margin: auto;
}

.deal-delivery-svg {
  width: 1.6rem;
  height: 2.5rem;
}

.swiper-pagination {
  position: absolute !important;
}

/* MOBILE */

@media screen and (max-width: 480px) {
  .swiper {
    margin: 0;
    padding: 3rem 0 !important;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
