.signup-form-container {
  background-color: #fff;
  width: 70vw;
  margin-top: 7.5rem;
  margin-bottom: 3rem;
  padding: 1.25rem;
  box-shadow: 10px -5px 70px rgba(0, 0, 0, 0.25);
}

.signup-heading-container {
  display: flex;
  margin: 0;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.signup-heading-container p {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.signup-form-upload-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.signup-form {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1.25rem;
}

.signup-form-upload-img {
  width: 13.75rem;
  height: 13.75rem;
  object-fit: contain;
  border-radius: 50%;
}

.remove-img {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 0.3125rem 0.625rem;
  background-color: #555;
  border-radius: 100%;
  color: #fff;
}

.signup-form-upload-btn {
  width: 100%;
  background-color: #e2213d;
  text-align: center;
  color: #fff;
  padding: 0.3125rem 0.625rem;
  font-size: 1.125rem;
  margin-top: 0.625rem;
  cursor: pointer;
  border-radius: 0.3125rem;
}

.signup-form-text {
  flex: 2.5;
}

.signup-form-text-name-container,
.signup-form-text-name,
.signup-form-text-surname,
.signup-form-text-email,
.signup-form-text-password,
.signup-form-text-confirm-password {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  margin-bottom: 0.625rem;
  width: 100%;
}

.signup-form-text-name-container input,
.signup-form-text-name input,
.signup-form-text-surname input,
.signup-form-text-email input,
.signup-form-text-password input,
.signup-form-text-confirm-password input {
  width: 100%;
  padding: 0.3125rem;
  color: #555;
  font-size: 1.125rem;
  background-color: #f2f4f5;
  border: 1px solid rgb(207, 207, 207);
}

.signup-form-text-name-container input:focus,
.signup-form-text-name input:focus,
.signup-form-text-surname input:focus,
.signup-form-text-email input:focus,
.signup-form-text-password input:focus,
.signup-form-text-confirm-password input:focus {
  outline: #337ab7 1px solid;
}

.signup-form-text-name-container label,
.signup-form-text-name label,
.signup-form-text-surname label,
.signup-form-text-email label,
.signup-form-text-password label,
.signup-form-text-confirm-password label {
  margin: 0;
  font-weight: bold;
  font-size: 1.125rem;
}

.signup-form-text-name-container {
  flex-direction: row;
  gap: 1.125rem;
}

.signup-form-settings-container {
  margin-top: 3rem;
}

.signup-form-privacy-img {
  width: 1rem;
}

.signup-form-settings {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  font-weight: normal;
  margin-top: 1.125rem;
}

.signup-form-settings-single {
  display: flex;
  gap: 1.125rem;
  justify-content: start;
  margin: 0;
}

.signup-form-settings-single label {
  margin: 0;
}

.signup-form-settings-single input[type="checkbox"] {
  transform: scale(1.5);
}

.signup-form-settings-text {
  font-size: 1.125rem;
  cursor: pointer;
}

.signup-form-settings-text-span {
  color: #337ab7;
  font-weight: normal !important;
}

.signup-form-settings-text span {
  font-weight: bold;
}

.signup-btn {
  background-color: #609e29;
  color: #fff;
  text-align: center;
  padding: 0.3125rem 0.625rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  width: 25%;
  margin-right: 0;
  margin-top: 3rem;
  font-size: 1.375rem;
  letter-spacing: 1px;
}

.signup-btn:hover {
  background-color: #78ac36;
}

/* MOBILE */

@media screen and (max-width: 480px) {
  .signup-form-container {
    width: 90vw;
  }

  .signup-form {
    gap: 1rem;
  }

  .signup-form-upload-container {
    margin-top: 1rem;
  }

  .signup-form-upload-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50% !important;
    object-fit: fill;
  }

  .remove-img {
    top: -1rem;
  }

  .signup-form-upload-btn {
    font-size: 0.8rem;
  }

  .signup-form-text-name-container {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
  }

  .signup-form-text-name-container input,
  .signup-form-text-name input,
  .signup-form-text-surname input,
  .signup-form-text-email input,
  .signup-form-text-password input,
  .signup-form-text-confirm-password input,
  .signup-form-text-name-container label,
  .signup-form-text-name label,
  .signup-form-text-surname label,
  .signup-form-text-email label,
  .signup-form-text-password label,
  .signup-form-text-confirm-password label {
    font-size: 1rem !important;
  }

  .signup-form-settings-text {
    font-size: 1rem;
  }

  .signup-btn {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1200px) {
}
